<!-- Jumbotron header -->
<div class="jumbotron">
  <div class="container">
    <h1><%= @current_book.title %> <small><% if @current_book.archived %>Ended <%= time_tag @current_book.updated_at.to_date %><% else %>Ongoing Event<% end %></small></h1>
    <p><%= @current_book.description %></p>
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>More Guestbooks</h3></div>
      <ul class="list-group">
      <% if @current_book.id != @default_book.id %>
        <a href="/" class="list-group-item list-group-item-success">
          <h4>Back to <%= @default_book.title %></h4>
        </a>
      <% end %>

      <% @guestbooks.each do |guestbook| %>
        <a href="/?id=<%= guestbook.id %>" class="list-group-item <% if guestbook.id == @default_book.id %>list-group-item-info<% end %>">
          <h4><%= guestbook.title %> <small><% if guestbook.archived %>Ended <%= time_tag guestbook.updated_at.to_date %><% else %>Ongoing Event<% end %></small></h4>
        </a>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="page-header">
        <h2>Signatures in this Guestbook</h2>

        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-md-9">
              <input type="text" id="filter" class="form-control" placeholder="Filter Signatures" />
            </div>
            <div class="col-md-3 text-right">
              <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sorted by Most Recent
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Sort by Most Popular</a></li>
                  <li><a href="#">Sort by Most Controversial</a></li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <ul class="list-group">
    <% @current_book.approved_messages.each do |message| %>
      <li class="list-group-item">
        <span class="message-content"><%= message.content %></span> <small class="text-muted"><%= time_ago_in_words(message.created_at) %> ago</small>
        <span class="pull-right">
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <div class="btn btn-default" aria-label="...">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </div>

            <div class="btn btn-default" aria-label="...">
              <span class="<% if message.votes > 0 %>text-success<% elsif message.votes < 0 %>text-danger<% end %>"><%= message.votes %></span>
            </div>

            <div class="btn btn-default" aria-label="...">
              <span class="glyphicon glyphicon-thumbs-down"></span>
            </div>
          </div>
        </span>
      </li>
    <% end %>

      <a href="/" class="list-group-item text-center">
        <span class="text-muted">Back To Top</span>
      </a>
    </ul>
</div>

  <footer><span class="pull-left"><a class="btn btn-primary btn-xs" href="about.html">What is this?</a></span> Copyright someone, 2017</footer>
</div>