<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @guestbook.title %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @guestbook.archived %>
</p>

<p>
  <strong>Messages:</strong>
  <ul>
    <% @guestbook.messages.each do |msg| %>
      <% if msg.approved %>
        <li><%= msg.content %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_guestbook_path(@guestbook) %> |
<%= link_to 'Back', guestbooks_path %>
