<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @guestbook.title %>
</p>

<p>
  <strong>Active:</strong>
  <%= @guestbook.active %>
</p>

<%= link_to 'Edit', edit_guestbook_path(@guestbook) %> |
<%= link_to 'Back', guestbooks_path %>
